:root {
    --color: #5e6263;
    --color2: #050505;
    --color3: #6c6c6c;
    --color4: #1678c0;
    --color5: #323232b3;
    --color6: #191c1f;
    --color7: #323232;
    --color8: #707070;
    --color9: #b8b8b8;
    --colorWhite: #fff;
    --font-family: 'Inter', sans-serif;  
    --font-family2: 'Roboto Serif', serif; 
}